<form method="get" action="/quizes">
  Texto a buscar
  <input type="text" name="search" value="Texto a buscar"/>
  <input type="submit" value="Buscar" />
</form>

<table>
<% var i; for(i=0; i < quizes.length; i++){
console.log(i + " " + quizes[i]);
%>
	<tr><td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr>
<%} %>
</table>